:root {
  --background-color: rgb(20, 20, 20, 1);
  --background-color-light: rgb(20, 20, 20, 0.5);
  --border-color: rgb(255, 255, 255, 0.1);
  --border-color-light: rgb(4, 14, 1, 0.1);
  --text-color: rgb(255, 255, 255, 1);
  --text-color-fade: rgb(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 400;
  color: var(--text-color-fade);
  transition: ease-in-out 1.2s;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
  transition: ease-in-out 1s;
}

.App {
  height: 100vh;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  transition: ease-in-out 1s;
}

.body-light {
  background-color: rgb(231, 231, 231);
}

.body-light a,
.body-light h2 {
  color: var(--background-color-light);
}

nav {
  display: flex;
  width: 100vw;
  border-bottom: 1px solid var(--border-color);
  transition: ease-in-out 1s;
  align-items: center;
  justify-content: space-between;
}

#nav-light {
  border-bottom: 1px solid var(--border-color-light);
  transition: ease-in-out 1s;
}

nav > .nav-section {
  padding: 3em 2em;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
  transition: ease-in-out 1s;
}

nav > .nav-section-light {
  padding: 2em 2em;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color-light);
  align-items: center;
  justify-content: center;
  transition: ease-in-out 1s;
}

#nav-logo-section {
  justify-content: flex-start;
}

.cc-logo {
  width: 1em;
}

#nav-link-section,
#nav-link-section a {
  gap: 6rem;
}

#nav-link-section a:hover {
  color: var(--text-color);
  font-weight: 500;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-social-section-dark {
  justify-content: space-around;
  line-height: 1px;
}

#nav-social-section,
#nav-contact-section,
#nav-social-section-dark,
#nav-contact-section-dark {
  flex-grow: 1;
}

#nav-contact-section a,
#nav-social-section a {
  color: var(--text-color-fade);
  transition: ease-in-out 0.5s;
}

#nav-contact-section a:hover,
#nav-social-section a:hover {
  color: var(--text-color);
  transition: ease-in-out 0.2s;
  transform: translateY(-0.1em) scale(1.1);
}

#nav-contact-section a:hover {
  transform: translateY(-0.1em) rotateZ(2deg) scale(1.1);
}

#nav-contact-section-dark a,
#nav-social-section-dark a {
  color: var(--background-color-light);
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 991px) {
  #nav-link-section {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  #nav-contact-section,
  #nav-contact-section-dark {
    display: none;
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  #nav-contact-section,
  #nav-contact-section-dark {
    width: 25%;
  }
}

@media screen and (max-width: 479px) {
  #nav-contact-section,
  #nav-contact-section-dark {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  #nav-social-section,
  #nav-social-section-dark {
    position: relative;
    width: 30%;
    margin-right: 0px;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  #nav-social-section,
  #nav-social-section-dark {
    display: none;
    width: 25%;
    height: 10vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  #nav-social-section,
  #nav-social-section-dark {
    overflow: visible;
    width: 0%;
    height: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 1340px) and (min-width: 992px) {
  html {
    font-size: 80%;
  }
}

#nav-menu {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999999;
  display: none;
  width: 16.5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #nav-menu {
    width: 30%;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 991px) {
  #nav-menu {
    margin-right: 1.5rem;
    z-index: 99999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
  }
}

.nav-menu-text {
  color: var(--text-color-fade);
  margin-right: 0.15em;
}

.nav-menu--burger {
  display: flex;
  flex-direction: column;
  height: 0.5em;
  justify-content: space-between;
}

.nav-menu-burger--top-line {
  width: 0.9em;
  height: 0.15em;
  background-color: var(--text-color-fade);
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  border-radius: 5px;
}

.nav-menu-burger--bottom-line {
  width: 0.9em;
  height: 0.15em;
  background-color: var(--text-color-fade);
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  border-radius: 5px;
}

/* -----------MAIN-------------- */

main {
  flex-grow: 1;
  position: relative;
  margin: 0;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
}

@media screen and (max-width: 991px) {
  main > article {
    display: grid;
    height: 100%;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

main > article h1 {
  font-size: 60px;
  line-height: 0.3em;
}

main > article > .article-section {
  height: 100%;
}

main > article > .article-image-section {
  display: flex;
  width: 100%;
  overflow: hidden;
}

main > article > .article-image-section img {
  flex-grow: 1;
  object-fit: cover;
}

main > article > .article-description-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 4em;
}

@media screen and (max-width: 991px) {
  main > article > .article-description-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
  }
}

main > article > .article-description-section p {
  font-size: 20px;
  margin: 0;
  color: var(--text-color-fade);
}

@media screen and (max-width: 991px) {
  main > article > .article-description-section p {
    font-size: 95%;
  }
}

#article-description-light {
  color: var(--background-color);
}

main > article > .article-description-section p:hover {
  color: var(--text-color);
  transition: ease 0.4s;
  transform: translateY(-8px);
}

main > article > .article-title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw;
}

main > article > .article-title-section h1 {
  line-height: 0.7em;
  transform: translateY(0.8em);
}

/* @media screen and (max-width: 1200px) {
  main > article > .article-title-section {
    padding: 2em 4em 0 4em;
  }
}

@media screen and (max-width: 767px) {
  main > article > .article-title-section {
    padding: 2em 4em 0 4em;
  }
} */

@media screen and (max-width: 579px) {
  .article-title-cross,
  .article-title-cross-hover {
    display: none;
  }
  .article-title-container {
    align-items: center;
  }
  /* main > article > .article-title-section {
    padding: 2em 2em 0 2em;
  } */
}

main > article > .article-title-section h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 0.8em;
  letter-spacing: -0.1em;
  padding: 0 2em;
}
/* 
@media screen and (max-width: 991px) {
  main > article > .article-title-section h1 {
    padding-top: 0.7em;
  }
} */

@media screen and (max-width: 509px) {
  main > article > .article-title-section h1 {
    font-size: 50px;
    padding-top: 0.5em;
  }
}

.article-title-container {
  max-height: 8em;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: 6.5rem;
}

.article-title-container h1 {
  margin: 0;
  position: relative;
  top: 0;
  transition: ease-out 0.5s;
  font-weight: 700;
}

#title-neutral {
  color: var(--text-color);
}

#title-hovered {
  transform: translateY(-1.75em);
  color: var(--background-color);
}

.article-title-cross {
  transform: rotateZ(90deg);
  transition: ease-in-out 0.5s;
}

.article-title-cross-hover {
  color: var(--background-color);
  transform: rotateZ(0deg);
  transition: ease-in-out 0.5s;
}

main > article > .article-nav-section {
  display: flex;
  transition: ease-out 0.5s;
}

.work-button:hover {
  background: rgb(24, 24, 24, 1);
  transition: ease-out 0.5s;
}

main > article > .article-nav-section button {
  flex-grow: 1;
  background: none;
  border: none;
  color: rgb(255, 255, 255, 1);
  transition: ease-out 0.5s;
}

.article-nav-btn-container {
  max-height: 6.5em;
  overflow-y: hidden;
}

.move-work-arrow {
  color: var(--text-color);
  transform: translateY(-68px);
  transition: ease-out 0.5s;
}

.move-work-arrow-hover {
  transform: translateY(0px);
  transition: ease-out 0.5s;
  font-size: 20px;
}

#work-box h2 {
  color: var(--text-color);
  font-weight: 500;
}

.work-with-arrow {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

main > article > .article-description-section,
main > article > .article-nav-section {
  max-height: 100%;
  border-left: 1px solid var(--border-color);
}

.article-description-section p:hover {
  transform: translateY(10px);
}

#article-description-home-light,
#article-nav-light {
  border-left: 1px solid var(--border-color-light);
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
}

#article-title-light,
#article-nav-light {
  border-top: 1px solid var(--border-color-light);
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
}
